.lookbook{
    position: relative;
    img{
        width: 100%;
        object-fit: cover;
        filter: brightness(0.5);
    }
    .lookbook-texto{
        position: absolute;
        top: 60px;
        text-align: center;
        color: #fff;
        h3{
            text-transform: uppercase;
        }
        h6{
            text-transform: uppercase;
        }
    }
    .ver-look-botao{
        border: 2px solid #fff;
        padding: 5px;
            button{
            background-color: transparent;
            text-transform: uppercase;
            font-size: 0.8rem;
            border: none;
            color: #fff;
        }
    }
}